<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | AC Computers</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/eb36e646d1.js" crossorigin="anonymous"></script>
</head>
<body class="bg-[#242430] font-poppins text-white w-full"> 
    
    <!-- Encabezado -->
    <header class="w-full sticky top-0 px-3 py-2 z-[999]">
        <div id="navbar" class="max-w-[1200px] mx-auto flex justify-between items-center py-2 rounded-full px-7 duration-500">
            <!-- Logo empresa -->
            <a href="/" class="text-2xl md:text-[27px] text-[#7270ec] uppercase font-extrabold">AC Computers</a>

            <!-- Botón responsivo -->
            <div class="md:hidden" onclick="toggleMenu()">
                <i class="fas fa-bars text-2xl" id="toggle-icon"></i>
            </div>

            <!-- Menú de navegación -->
            <nav class="hidden md:flex gap-6 text-[19px]">
                <a href="/" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Inicio</a>
                <a href="/products" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Productos</a>
                <a href="/contact" class="duration-300 hover:scale-105 text-[#7270ec]">Contactanos</a>
            </nav>

            <!-- Botón de descarga -->
            <a href="/list" class="hidden md:block">
                <button class="tooltip tooltip-bottom tooltip-primary bg-transparent text-white" data-theme="luxury" data-tip="Descargar productos">
                    <i class="fas fa-circle-down text-[30px] duration-300 hover:text-[#7270ec]"></i>
                </button>
            </a>

        </div>
    </header>

    <nav id="navbar-responsive" class="fixed inset-0 bg-black bg-opacity-35 backdrop-blur-md z-[90] pt-[90px] flex flex-col align-items-center text-center text-xl gap-10 hidden">
        <a href="/" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Inicio</a>
        <a href="/products" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Productos</a>
        <a href="/contact" class="duration-300 hover:scale-105 text-[#7270ec]">Contactanos</a>
    </nav>

    <!-- Contenido principal -->
    <main class="w-full space-y-5 pt-10">
        <section class="w-full px-3">
            <div class="w-full max-w-[1200px] mx-auto flex flex-col md:flex-row py-8 gap-7 lg:py-10">
                <!-- Imagen empresa -->
                <div class="w-full md:w-1/2 flex-none">
                    <div class="w-full max-w-[300px] md:max-w-[400px] mx-auto">
                        <img src="/images/logo.jpg" alt="Imagen empresa" class="object-cover h-full w-full">
                    </div>
                </div>

                <!-- Información de contacto -->
                <div class="space-y-10">
                    <!-- Información -->
                    <div class="space-y-4">
                        <h1 class="text-5xl font-extrabold" id="product-title">Contáctanos</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nostrum, sit exercitationem 
                            voluptatibus eligendi a placeat, molestiae repellat alias rerum pariatur accusantium ullam 
                            eum consectetur saepe neque, veniam ratione id aliquid explicabo libero expedita eius natus. 
                            Beatae ut quia labore pariatur commodi officiis aspernatur eveniet corrupti quod! Quia deserunt 
                            unde voluptatibus! Rerum labore velit aliquid? Vel a ipsa error! Quisquam esse nam eum cumque 
                            rerum ab veritatis iusto voluptas perferendis.
                        </p>
                    </div>

                    <!-- Botones de direcciones -->
                    <div class="w-full flex gap-7 justify-center">
                        <a href="https://www.instagram.com/accomputersas/" target="_blank">
                            <button class="size-[50px] text-[27px] flex justify-center items-center rounded-full bg-indigo-500 text-indigo-300/80 duration-300 hover:text-indigo-300 hover:bg-indigo-500/70 hover:scale-105 hover:shadow-lg">
                                <i class="fab fa-instagram"></i>
                            </button>
                        </a>
                        <a href="https://web.facebook.com/profile.php?id=100064272782590" target="_blank">
                            <button class="size-[50px] text-[27px] flex justify-center items-center rounded-full bg-indigo-500 text-indigo-300/80 duration-300 hover:text-indigo-300 hover:bg-indigo-500/70 hover:scale-105 hover:shadow-lg">
                                <i class="fab fa-facebook"></i>
                            </button>
                        </a>
                        <a href="https://wa.me/+573118835868" target="_blank">
                            <button class="size-[50px] text-[27px] flex justify-center items-center rounded-full bg-indigo-500 text-indigo-300/80 duration-300 hover:text-indigo-300 hover:bg-indigo-500/70 hover:scale-105 hover:shadow-lg">
                                <i class="fab fa-whatsapp"></i>
                            </button>
                        </a>
                        <a href="mailto:amaliacastro@misena.edu.co" target="_blank">
                            <button class="size-[50px] text-[27px] flex justify-center items-center rounded-full bg-indigo-500 text-indigo-300/80 duration-300 hover:text-indigo-300 hover:bg-indigo-500/70 hover:scale-105 hover:shadow-lg">
                                <i class="fa-regular fa-envelope"></i>
                            </button>
                        </a>
                    </div>

                </div>
            </div>
        </section>
    </main>
    
    <footer class="w-full px-3 py-5">
        <div class="max-w-[1200px] mx-auto flex flex-col md:flex-row justify-between gap-10 md:gap-3">
            <div class="space-y-2">
                <h4 class="font-extrabold text-lg">Enlaces</h4>
                <ul class="text-[#7270ec] space-y-1">
                    <a href="/">
                        <li class="hover:text-indigo-300 hover:underline">Inicio</li>
                    </a>
                    <a href="/products">
                        <li class="hover:text-indigo-300 hover:underline">Productos</li>
                    </a>
                    <a href="/contact">
                        <li class="hover:text-indigo-300 hover:underline">Contacto</li>
                    </a>
                    <a href="/list">
                        <li class="hover:text-indigo-300 hover:underline">Descargar lista productos</li>
                    </a>
                </ul>
            </div>
            <div class="space-y-2 max-w-[450px]">
                <h4 class="font-extrabold text-lg">Sobre nosotros</h4>
                <p class="text-[#7270ec]">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, blanditiis deleniti praesentium sequi molestias fugit quaerat adipisci ut ab hic recusandae, illum id delectus aliquam optio explicabo ad quas. Voluptatem voluptates commodi repellat obcaecati. Distinctio dolorum obcaecati natus laudantium, veniam ullam ea placeat dolore voluptas ex voluptates, cumque, est cum.
                </p>
            </div>
            <div class="space-y-2">
                <h4 class="font-extrabold text-lg">AC Computers</h4>
                <div class="size-[200px]">
                    <img src="/images/logo.jpg" alt="Logo empresa" class="object-cover h-full w-full">                    
                </div>
            </div>
        </div>
    </footer>
    
    <script>
        // Agregar clase al header
        window.onscroll = () => {
            if (window.scrollY > 50) {
                document.querySelector('#navbar').classList.add('bg-black', 'bg-opacity-15', 'backdrop-blur-sm');
            } else {
                document.querySelector('#navbar').classList.remove('bg-black', 'bg-opacity-15', 'backdrop-blur-sm');
            }
        }

        function toggleMenu() {
            document.getElementById('navbar-responsive').classList.toggle('hidden');
            document.getElementById('toggle-icon').classList.toggle('fa-bars');
            document.getElementById('toggle-icon').classList.toggle('fa-x');
        }
    </script>
</body>
</html>