<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | AC Computers</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/eb36e646d1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

    <style>
        ::view-transition-new(root),
        ::view-transition-old(root) {
            animation-duration: none;
        }
    </style>
</head>
<body class="bg-[#242430] font-poppins text-white w-full"> 

    <!-- Encabezado -->
    <header class="w-full sticky top-0 px-3 py-2 z-[999]">
        <div id="navbar" class="max-w-[1200px] mx-auto flex justify-between items-center py-2 rounded-full px-7 duration-500">
            <!-- Logo empresa -->
            <a href="/" class="text-2xl md:text-[27px] text-[#7270ec] uppercase font-extrabold">AC Computers</a>

            <!-- Botón responsivo -->
            <div class="md:hidden" onclick="toggleMenu()">
                <i class="fas fa-bars text-2xl" id="toggle-icon"></i>
            </div>

            <!-- Menú de navegación -->
            <nav class="hidden md:flex gap-6 text-[19px]">
                <a href="/" class="duration-300 hover:scale-105 text-[#7270ec]">Inicio</a>
                <a href="/products" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Productos</a>
                <a href="/contact" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Contactanos</a>
            </nav>

            <!-- Botón de descarga -->
            <a href="/list" class="hidden md:block">
                <button data-tooltip-target="tooltip-bottom" data-tooltip-placement="bottom" type="button">
                    <i class="fas fa-circle-down text-[30px] duration-300 hover:text-[#7270ec]"></i>
                </button>
                
                <div id="tooltip-bottom" role="tooltip" 
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip">
                    Descargar productos
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a>

        </div>
    </header>

    <nav id="navbar-responsive" class="fixed inset-0 bg-black bg-opacity-35 backdrop-blur-md z-[90] pt-[90px] flex flex-col align-items-center text-center text-xl gap-10 hidden">
        <a href="/" class="duration-300 hover:scale-105 text-[#7270ec]">Inicio</a>
        <a href="/products" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Productos</a>
        <a href="/contact" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Contactanos</a>
    </nav>

    <!-- Contenido principal -->
    <main class="w-full space-y-5">

        <!-- Sección inicio -->
        <section class="w-full px-3">
            <div class="home-swiper max-w-[1200px] mx-auto py-5 md:py-10 relative overflow-hidden space-y-10">
                <div class="swiper-wrapper" id="home-section">
                    <!-- Carrusel -->
                </div>

                <!-- Botones y paginación -->
                <div class="swiper-button-next-home absolute top-1/2 -translate-y-1/2 right-0 z-50 bg-black bg-opacity-20 backdrop-blur-md p-3 rounded-full size-[60px] flex items-center justify-center after:content-none">
                    <i class="fas fa-chevron-right text-3xl"></i>
                </div>
                <div class="swiper-button-prev-home absolute top-1/2 -translate-y-1/2 left-0 z-50 bg-black bg-opacity-20 backdrop-blur-md p-3 rounded-full size-[60px] flex items-center justify-center after:content-none">
                    <i class="fas fa-chevron-left text-3xl"></i>
                </div>
                <div class="swiper-pagination-home flex gap-2 justify-center"></div>
            </div>
        </section>

        <hr class="border border-collapse border-[#7a7bbf16]">

        <!-- Sección promociones -->
        <section class="w-full px-3 py-10">
            <div class="w-full max-w-[1200px] mx-auto space-y-8">
                <h2 class="font-extrabold text-5xl text-center">Promociones</h2>
                <div class="grid grid-cols-1 sm:grid-cols-[repeat(auto-fill,minmax(400px,_1fr))] gap-10 w-full" id="promotions">
                    <!-- Elementos -->
                </div>
            </div>
        </section>

        <hr class="border border-collapse border-[#7a7bbf16]">
        
        <!-- Seccion productos nuevos -->
        <section class="w-full px-3 py-10">
            <div class="w-full max-w-[1200px] mx-auto space-y-14">
                <h2 class="font-extrabold text-5xl text-center">Productos Nuevos</h2>

                <div class="new-swiper relative overflow-hidden">
                    <div class="swiper-wrapper flex " id="new-products-section">
                        <!-- Carrusel -->
                    </div>
    
                    <!-- Botones y paginación -->
                    <div class="swiper-button-next-new absolute top-1/2 -translate-y-1/2 right-0 z-50 bg-black bg-opacity-20 backdrop-blur-md p-3 rounded-full size-[60px] flex items-center justify-center after:content-none">
                        <i class="fas fa-chevron-right text-3xl"></i>
                    </div>
                    <div class="swiper-button-prev-new absolute top-1/2 -translate-y-1/2 left-0 z-50 bg-black bg-opacity-20 backdrop-blur-md p-3 rounded-full size-[60px] flex items-center justify-center after:content-none">
                        <i class="fas fa-chevron-left text-3xl"></i>
                    </div>
                </div>
            </div>
        </section>
    </main>

    
    <footer class="w-full px-3 py-5">
        <div class="max-w-[1200px] mx-auto flex flex-col md:flex-row justify-between gap-10 md:gap-3">
            <div class="space-y-2">
                <h4 class="font-extrabold text-lg">Enlaces</h4>
                <ul class="text-[#7270ec] space-y-1">
                    <a href="/">
                        <li class="hover:text-indigo-300 hover:underline">Inicio</li>
                    </a>
                    <a href="/products">
                        <li class="hover:text-indigo-300 hover:underline">Productos</li>
                    </a>
                    <a href="/contact">
                        <li class="hover:text-indigo-300 hover:underline">Contacto</li>
                    </a>
                    <a href="/list">
                        <li class="hover:text-indigo-300 hover:underline">Descargar lista productos</li>
                    </a>
                </ul>
            </div>
            <div class="space-y-2 max-w-[450px]">
                <h4 class="font-extrabold text-lg">Sobre nosotros</h4>
                <p class="text-[#7270ec]">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, blanditiis deleniti praesentium sequi molestias fugit quaerat adipisci ut ab hic recusandae, illum id delectus aliquam optio explicabo ad quas. Voluptatem voluptates commodi repellat obcaecati. Distinctio dolorum obcaecati natus laudantium, veniam ullam ea placeat dolore voluptas ex voluptates, cumque, est cum.
                </p>
            </div>
            <div class="space-y-2">
                <h4 class="font-extrabold text-lg">AC Computers</h4>
                <div class="size-[200px]">
                    <img src="/images/logo.jpg" alt="Logo empresa" class="object-cover h-full w-full">                    
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>
    <script>
        // Agregar clase al header
        window.onscroll = () => {
            if (window.scrollY > 50) {
                document.querySelector('#navbar').classList.add('bg-black', 'bg-opacity-15', 'backdrop-blur-sm');
            } else {
                document.querySelector('#navbar').classList.remove('bg-black', 'bg-opacity-15', 'backdrop-blur-sm');
            }
        }

        function toggleMenu() {
            document.getElementById('navbar-responsive').classList.toggle('hidden');
            document.getElementById('toggle-icon').classList.toggle('fa-bars');
            document.getElementById('toggle-icon').classList.toggle('fa-x');
        }

        // Realizar consulta a la API y mostrar la información
        fetch('/api/products?limit=7')
        .then(response => response.json())
        .then(data => {
            const homeSection = document.getElementById('home-section');
            data.products.forEach(product => {
                const productSwiper = document.createElement('article');
                productSwiper.className = 'swiper-slide min-w-full px-3';
                productSwiper.innerHTML = `
                    <div class="flex flex-col-reverse md:flex-row gap-2 text-center justify-center items-center md:text-start">
                        <div class="w-full md:w-1/2 space-y-8">
                            <h1 class="text-xl sm:text-2xl md:text-5xl font-bold md:font-extrabold tracking-tight leading-[1.4]">${product.product_name}</h1>
                            <div class="flex justify-center md:justify-start gap-4 text-lg md:text-2xl text-[#7270ec] font-bold">
                                <p class="line-through">COP ${Number(product.product_price).toLocaleString("es-CO")}</p>
                                <p>COP ${Number(product.product_price - (product.product_price * (product.product_discount / 100))).toLocaleString("es-CO")}</p>
                            </div>
                            <div>  
                                <a href="/product/${product.product_id}">
                                    <button class="px-8 py-2 border border-[#7270ec] rounded-full text-lg">Información</button>
                                </a>
                            </div>
                        </div>
                        <div class="w-full md:w-1/2">
                            <a href="/product/${product.product_id}">
                                <img src="${product.product_image_url}" alt="Imagen de ${product.product_name}" style="view-transition-name: product-${product.product_id}">
                            </a>
                        </div>
                    </div>
                `;
                homeSection.appendChild(productSwiper);
            });
        });

        // Elementos promociones
        fetch('/api/products?limit=4&sort=product_discount&order=desc')
        .then(response => response.json())
        .then(data => {
            const promotions = document.getElementById('promotions');
            data.products.forEach(product => {
                const promotion = document.createElement('article');
                promotion.className = 'flex flex-col-reverse md:flex-row items-center justify-center gap-4 p-5 bg-black bg-opacity-20 rounded-xl shadow-lg border border-[#7a7bbf16]';
                promotion.innerHTML = `
                    <div class="w-full md:w-1/2 space-y-2">
                        <h3 class="font-extrabold text-2xl">${product.product_name}</h3>
                        <div class="space-y-0 font-semibold text-[#7270ec] pb-4">
                            <p class="line-through">COP ${Number(product.product_price).toLocaleString("es-CO")}</p>
                            <p>COP ${Number(product.product_price - (product.product_price * (product.product_discount / 100))).toLocaleString("es-CO")}${ " - " + product.product_discount + "%"}</p>
                        </div>
                        <a href="/product/${product.product_id}"> 
                            <button class="px-10 py-1 border border-[#7270ec] rounded-full ">
                                ver
                            </button>
                        </a>
                    </div>
                    <div class="w-full md:w-1/2 max-w-[250px]">
                        <img src="${product.product_image_url}" alt="Imagen de ${product.product_name}" class="object-contain w-full h-full">
                    </div>
                `;
                promotions.appendChild(promotion);
            });
        });

        // Productos nuevos
        fetch('/api/products?limit=5&sort=product_date&order=desc')
        .then(response => response.json())
        .then(data => {
            const newProducts = document.getElementById('new-products-section');
            data.products.forEach(product => {
                const newProduct = document.createElement('article');
                newProduct.className = 'swiper-slide p-5 bg-black bg-opacity-20 rounded-xl shadow-lg border border-[#7a7bbf16]';
                newProduct.innerHTML = `
                    <div class="swiper-slide min-w-[250px] p-5 flex flex-col space-y-2">
                        <div class="w-full h-[250px] flex-none">
                            <img src="${product.product_image_url}" alt="Imagen de ${product.product_name}" class="object-contain w-full h-full">
                        </div>
                        <div class="text-center flex flex-col justify-center items-center gap-2">
                            <h3 class="font-extrabold text-xl text-white">${product.product_name}</h3>
                            <p class="text-gray-300 font-semibold">${product.product_date.split("T")[0]}</p>
                            <p class="text-gray-400 font-bold"> <i class="fas fa-star text-sm"></i> Calidad premium</p>
                            <p class="text-[#7270ec] font-semibold">COP ${Number(product.product_price - (product.product_price * (product.product_discount / 100))).toLocaleString('es-CO') }</p>
                            <a href="/product/${product.product_id}"> 
                                <button class="px-7 py-1 border border-[#7270ec] rounded-full">
                                    ver
                                </button>
                            </a>
                        </div>
                    </div>
                `;
                newProducts.appendChild(newProduct);
            });
        });
        

        window.navigation.addEventListener("navigate", (event) => {
            const toUrl = new URL(event.destination.url);

            if (location.origin !== toUrl.origin || !toUrl.pathname.startsWith("/product/")) return;


            event.intercept({
                async handler() {
                    const response = await fetch( toUrl.pathname );
                    const text = await response.text();

                    const html = text.match(/<body[^>]*>([\s\S]*)<\/body>/i)[1];

                    fetch('/api/products/' + toUrl.pathname.split('/')[2])
                    .then(response => response.json())
                    .then(data => {
                        document.startViewTransition(() => {
                            document.body.innerHTML = html;
                            
                            product = data[0];
                            document.getElementById("product-image").src = product.product_image_url;
                            document.getElementById("product-image").style = "view-transition-name: product-" + product.product_id;
                            document.getElementById("product-title").innerHTML = product.product_name;
                            document.getElementById("product-description").innerHTML = product.product_description;
                            document.getElementById("product-price").innerHTML = Number(product.product_price - (product.product_price * (product.product_discount / 100)) ).toLocaleString("es-CO") ;
                            document.getElementById("product-discount").innerHTML = (product.product_discount > 0) ? product.product_discount + "%" : "Sin descuento";
                            document.getElementById("product-total-price").innerHTML = (product.product_discount > 0) ? Number(product.product_price).toLocaleString("es-CO") : " " ;
                        
                            document.documentElement.scrollTop = 0;
                        });
                    });
                }
            })
        });
    </script>
</body>
</html>