<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | AC Computers</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="/css/output.css"> -->
    <script src="https://kit.fontawesome.com/eb36e646d1.js" crossorigin="anonymous"></script>

</head>
<body class="bg-[#242430] font-poppins text-white w-full"> 
    
    

    <!-- SCRIPT_PLACEHOLDER -->
</body>
</html>