<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto | AC Computers</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://kit.fontawesome.com/eb36e646d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</head>
<body class="bg-[#242430] font-poppins text-white w-full"> 
    
    <!-- Encabezado -->
    <header class="w-full sticky top-0 px-3 py-2 z-[999]">
        <div id="navbar" class="max-w-[1200px] mx-auto flex justify-between items-center py-2 rounded-full px-7 duration-500">
            <!-- Logo empresa -->
            <a href="/" class="text-2xl md:text-[27px] text-[#7270ec] uppercase font-extrabold">AC Computers</a>

            <!-- Botón responsivo -->
            <div class="md:hidden" onclick="toggleMenu()">
                <i class="fas fa-bars text-2xl" id="toggle-icon"></i>
            </div>

            <!-- Menú de navegación -->
            <nav class="hidden md:flex gap-6 text-[19px]">
                <a href="/" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Inicio</a>
                <a href="/products" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Productos</a>
                <a href="/contact" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Contactanos</a>
            </nav>

            <!-- Botón de descarga -->
            <a href="/list" class="hidden md:block">
                <button data-tooltip-target="tooltip-bottom" data-tooltip-placement="bottom" type="button">
                    <i class="fas fa-circle-down text-[30px] duration-300 hover:text-[#7270ec]"></i>
                </button>
                
                <div id="tooltip-bottom" role="tooltip" 
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip">
                    Descargar productos
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a>

        </div>
    </header>

    <nav id="navbar-responsive" class="fixed inset-0 bg-black bg-opacity-35 backdrop-blur-md z-[90] pt-[90px] flex flex-col align-items-center text-center text-xl gap-10 hidden">
        <a href="/" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Inicio</a>
        <a href="/products" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Productos</a>
        <a href="/contact" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Contactanos</a>
    </nav>

    <!-- Contenido principal -->
    <main class="w-full">
        <section class="w-full px-3">
            <div class="w-full max-w-[1200px] mx-auto flex flex-col md:flex-row py-8 lg:py-10">
                <!-- Imagen producto -->
                <div class="w-full md:w-1/2 flex-none">
                    <div class="w-full max-w-[300px] md:max-w-[500px] mx-auto">
                        <img src="/images/products/bg1.png" alt="Imagen producto" class="object-cover h-full w-full" id="product-image">
                    </div>
                </div>

                <!-- Contenedor con la información del producto -->
                <div class="space-y-8">
                    <!-- Titulo -->
                    <div class="space-y-2">
                        <p class="text-[#7270ec] font-semibold text-lg">Ac computers</p>
                        <h1 class="text-xl md:text-3xl lg:text-5xl font-extrabold" id="product-title">Product</h1>
                    </div>

                    <!-- Información -->
                    <p id="product-description">loading...</p>
                    <div class="space-y-1 text-lg md:text-2xl text-[#7270ec] font-bold">
                        <div class="flex gap-2">
                            <p  id="product-price">loading...</p>
                            <span class="bg-[#7270ec]/70 font-semibold text-white py-2 px-3 rounded-md text-sm"  id="product-discount">loading...</span>
                        </div>
                        <p class="line-through"  id="product-total-price">loading...</p>
                    </div>

                    <!-- Botón para regresar -->
                    <a href="javascript:history.back()" id="back-button">
                        <button class="w-full bg-indigo-500 font-semibold text-white py-2 px-3 rounded-md relative group duration-300 hover:bg-indigo-500/80 my-5">
                            <span class="absolute left-5 top-1/2 -translate-y-1/2">
                                <i class="fa-solid fa-arrow-left text-indigo-300 group-hover:text-indigo-200 text-xl"></i>
                            </span>
                            Volver
                        </button>
                    </a>
                </div>
            </div>
        </section>
    </main>
    
    <footer class="w-full px-3 py-5">
        <div class="max-w-[1200px] mx-auto flex flex-col md:flex-row justify-between gap-10 md:gap-3">
            <div class="space-y-2">
                <h4 class="font-extrabold text-lg">Enlaces</h4>
                <ul class="text-[#7270ec] space-y-1">
                    <a href="/">
                        <li class="hover:text-indigo-300 hover:underline">Inicio</li>
                    </a>
                    <a href="/products">
                        <li class="hover:text-indigo-300 hover:underline">Productos</li>
                    </a>
                    <a href="/contact">
                        <li class="hover:text-indigo-300 hover:underline">Contacto</li>
                    </a>
                    <a href="/list">
                        <li class="hover:text-indigo-300 hover:underline">Descargar lista productos</li>
                    </a>
                </ul>
            </div>
            <div class="space-y-2 max-w-[450px]">
                <h4 class="font-extrabold text-lg">Sobre nosotros</h4>
                <p class="text-[#7270ec]">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, blanditiis deleniti praesentium sequi molestias fugit quaerat adipisci ut ab hic recusandae, illum id delectus aliquam optio explicabo ad quas. Voluptatem voluptates commodi repellat obcaecati. Distinctio dolorum obcaecati natus laudantium, veniam ullam ea placeat dolore voluptas ex voluptates, cumque, est cum.
                </p>
            </div>
            <div class="space-y-2">
                <h4 class="font-extrabold text-lg">AC Computers</h4>
                <div class="size-[200px]">
                    <img src="/images/logo.jpg" alt="Logo empresa" class="object-cover h-full w-full">                    
                </div>
            </div>
        </div>
    </footer>
    
    <script>
        // Agregar clase al header
        window.onscroll = () => {
            if (window.scrollY > 50) {
                document.querySelector('#navbar').classList.add('bg-black', 'bg-opacity-15', 'backdrop-blur-sm');
            } else {
                document.querySelector('#navbar').classList.remove('bg-black', 'bg-opacity-15', 'backdrop-blur-sm');
            }
        }

        fetch('/api/products/' + window.location.pathname.split('/')[2])
        .then(response => response.json())
        .then(data => {
            product = data[0];
            document.getElementById("product-image").src = product.product_image_url;
            document.getElementById("product-image").style = "view-transition-name: product-" + product.product_id;
            document.getElementById("product-title").innerHTML = product.product_name;
            document.getElementById("product-description").innerHTML = product.product_description;
            document.getElementById("product-price").innerHTML = Number(product.product_price - (product.product_price * (product.product_discount / 100)) ).toLocaleString("es-CO") ;
            document.getElementById("product-discount").innerHTML = (product.product_discount > 0) ? product.product_discount + "%" : "Sin descuento";
            document.getElementById("product-total-price").innerHTML = (product.product_discount > 0) ? Number(product.product_price).toLocaleString("es-CO") : " " ;
        })

        function toggleMenu() {
            document.getElementById('navbar-responsive').classList.toggle('hidden');
            document.getElementById('toggle-icon').classList.toggle('fa-bars');
            document.getElementById('toggle-icon').classList.toggle('fa-x');
        }
    </script>

</body>
</html>