<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de adminstración | AC Computers</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/eb36e646d1.js" crossorigin="anonymous"></script>
</head>
<body class="bg-[#242430] font-poppins text-white w-full"> 

    <!-- Encabezado -->
    <header class="w-full sticky top-0 px-3 py-2 z-[999]">
        <div id="navbar" class="max-w-[1200px] mx-auto flex justify-between items-center py-2 rounded-full px-7 duration-500">
            <!-- Logo empresa -->
            <a href="/" class="text-2xl md:text-[27px] text-[#7270ec] uppercase font-extrabold">AC Computers</a>

            <!-- Botón responsivo -->
            <div class="md:hidden" onclick="toggleMenu()">
                <i class="fas fa-bars text-2xl" id="toggle-icon"></i>
            </div>

            <!-- Menú de navegación -->
            <nav class="hidden md:flex gap-6 text-[19px]">
                <a href="/" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Inicio</a>
                <a href="/products" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Productos</a>
                <a href="/contact" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Contactanos</a>
            </nav>

            <!-- Botón de descarga -->
            <a href="/list" class="hidden md:block">
                <button class="tooltip tooltip-bottom tooltip-primary bg-transparent text-white" data-theme="luxury" data-tip="Descargar productos">
                    <i class="fas fa-circle-down text-[30px] duration-300 hover:text-[#7270ec]"></i>
                </button>
            </a>

        </div>
    </header>

    <nav id="navbar-responsive" class="fixed inset-0 bg-black bg-opacity-35 backdrop-blur-md z-[90] pt-[90px] flex flex-col align-items-center text-center text-xl gap-10 hidden">
        <a href="/" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Inicio</a>
        <a href="/products" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Productos</a>
        <a href="/contact" class="duration-300 hover:scale-105 hover:text-[#7270ec]">Contactanos</a>
    </nav>

    <main class="w-full space-y-5 pt-10">
        
        <section class="w-full px-3">
            <div class="w-full max-w-[1200px] mx-auto py-10">
                <div class="relative sm:rounded-lg space-y-5 w-full">
                    <h2 class="font-extrabold text-3xl md:text-5xl text-center">Panel de Productos</h2>

                    <!-- Sección superior -->
                    <div class="flex items-center justify-between flex-col gap-5 md:flex-row py-4 w-full">

                        <!-- Selección de qué acción realizar -->
                        <div>
                            <button id="dropdownActionButton" data-dropdown-toggle="dropdownAction"  type="button"
                            class="inline-flex items-center focus:outline-none font-medium rounded-lg text-sm px-3 py-1.5 bg-zinc-800 text-zinc-400 border border-zinc-600 hover:bg-zinc-700 hover:border-zinc-600">
                                <span class="sr-only">Botón de acción</span>
                                Acción
                                <i class="fas fa-chevron-down ml-2"></i>
                            </button>

                            <!-- Dropdown menu -->
                            <div id="dropdownAction" class="z-10 hidden divide-y rounded-lg shadow w-44 bg-zinc-700 divide-zinc-600">
                                <ul class="py-1 text-sm text-zinc-200" aria-labelledby="dropdownActionButton">
                                    <li>
                                        <a href="#" class="block px-4 py-2 hover:bg-zinc-600 hover:text-white">Ocultar</a>
                                    </li>
                                </ul>
                                <div class="py-1">
                                    <button id="delete-selected" class="block w-full text-left px-4 py-2 text-sm text-red-500 hover:bg-zinc-600 hover:text-red-400">
                                        <i class="fas fa-trash mr-2"></i> 
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Búsqueda -->
                        <label for="table-search" class="sr-only">Busqueda</label>
                        <div class="relative flex items-center justify-center w-full max-w-80">
                            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                <i class="fas fa-search text-zinc-400"></i>
                            </div>
                            <input type="text" id="table-search" placeholder="Busca un producto" 
                            class="block py-2 ps-10 text-sm border border-zinc-600 rounded-lg outline-none w-full bg-zinc-700 placeholder-zinc-400 text-white">
                        </div>

                    </div>

                    <!-- Tabla de productos  -->
                    <div class="w-full overflow-x-auto">
                        <table class="w-full text-sm text-left rtl:text-right text-zinc-400">
                            <thead class="text-xs uppercase bg-zinc-700 text-zinc-400">
                                <tr>
                                    <th scope="col" class="p-4">
                                        <div class="flex items-center">
                                            <input id="checkbox-all-search" type="checkbox" class="size-4 rounded bg-zinc-700 border-zinc-600">
                                            <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                        </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Nombre
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Fecha
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Precio
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Descuento
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-center">
                                        Accion
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="product-list">
                                <!-- Lista de productos -->
                            </tbody>
                        </table>
                    </div>

                    <div class="w-full">
                        <button onclick="toggleModal('create-product')" class="w-full py-2 px-3 rounded-lg bg-indigo-500 font-semibold relative duration-300 hover:bg-indigo-600 group">
                            <span class="absolute left-5 top-1/2 -translate-y-1/2 group-hover:text-indigo-300 text-indigo-400 text-xl">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                            Agregar nuevo producto
                        </button>
                    </div>
                    <div class="flex justify-between items-center py-4 w-full flex flex-col md:flex-row gap-3">
                        <div id="pagination-text"> </div>
                        <div id="pagination-controls" class="flex gap-3">
                            <!-- Paginación -->
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
        
    </main>

    <footer class="w-full px-3 py-5">
        <div class="max-w-[1200px] mx-auto flex flex-col md:flex-row justify-between gap-10 md:gap-3">
            <div class="space-y-2">
                <h4 class="font-extrabold text-lg">Enlaces</h4>
                <ul class="text-[#7270ec] space-y-1">
                    <a href="/">
                        <li class="hover:text-indigo-300 hover:underline">Inicio</li>
                    </a>
                    <a href="/products">
                        <li class="hover:text-indigo-300 hover:underline">Productos</li>
                    </a>
                    <a href="/contact">
                        <li class="hover:text-indigo-300 hover:underline">Contacto</li>
                    </a>
                    <a href="/list">
                        <li class="hover:text-indigo-300 hover:underline">Descargar lista productos</li>
                    </a>
                </ul>
            </div>
            <div class="space-y-2 max-w-[450px]">
                <h4 class="font-extrabold text-lg">Sobre nosotros</h4>
                <p class="text-[#7270ec]">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, blanditiis deleniti praesentium sequi molestias fugit quaerat adipisci ut ab hic recusandae, illum id delectus aliquam optio explicabo ad quas. Voluptatem voluptates commodi repellat obcaecati. Distinctio dolorum obcaecati natus laudantium, veniam ullam ea placeat dolore voluptas ex voluptates, cumque, est cum.
                </p>
            </div>
            <div class="space-y-2">
                <h4 class="font-extrabold text-lg">AC Computers</h4>
                <div class="size-[200px]">
                    <img src="/images/logo.jpg" alt="Logo empresa" class="object-cover h-full w-full">                    
                </div>
            </div>
        </div>
    </footer>

    <div id="modals-container">

        <div id="create-product" class="hidden overflow-y-auto overflow-x-hidden fixed inset-0 z-[9999] flex justify-center items-center bg-black/50">
            <div class="relative p-4 w-full max-w-[700px] max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-zinc-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-zinc-600">
                        <h3 class="text-lg font-semibold text-zinc-900 dark:text-white">
                            Crear un producto nuevo
                        </h3>
                        <button type="button" onclick="toggleModal('create-product')" class="text-zinc-400 bg-transparent hover:bg-zinc-200 hover:text-zinc-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-zinc-600 dark:hover:text-white">
                            <i class="fas fa-times text-xl"></i>
                            <span class="sr-only">Cerrar modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <form class="p-4 flex flex-col gap-3" enctype="multipart/form-data" method="post" action="/admin/create" onsubmit="createProduct(event)">
                        <div class="w-full">
                            <label for="product_name" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white after:content-['*'] after:ml-1 after:text-red-500">Nombre</label>
                            <input type="text" name="product_name" id="product_name" placeholder="Escribe el nombre del producto" required
                            class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-zinc-600 dark:border-zinc-500 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        </div>
                        <div class="w-full">
                            <label for="product_price" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white after:content-['*'] after:ml-1 after:text-red-500">Precio</label>
                            <input type="number" name="product_price" id="product_price" placeholder="60.000" required
                            class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-zinc-600 dark:border-zinc-500 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        </div>
                        <div class="w-full">
                            <label for="product_discount" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white after:content-['*'] after:ml-1 after:text-red-500">Descuento <span class="text-[12px] opacity-60">(mínimo 0, máximo 100)</span></label>
                            <input type="number" name="product_discount" id="product_discount" placeholder="Escribe el descuento" min="0" max="100" required
                            class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-zinc-600 dark:border-zinc-500 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        </div>
                        <div class="w-full">
                            <label for="dropzone-file" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white">Imagen</label>
                            <div class="flex items-center justify-center w-full">
                                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-[200px] border-2 border-zinc-300 border-dashed rounded-lg cursor-pointer bg-zinc-50 dark:hover:bg-zinc-800 dark:bg-zinc-700 hover:bg-zinc-100 dark:border-zinc-600 dark:hover:border-zinc-500 dark:hover:bg-zinc-600">
                                    <div class="flex flex-col items-center justify-center py-5">
                                        <svg class="size-10 mb-4 text-zinc-500 dark:text-zinc-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                        </svg>
                                        <p class="mb-2 text-sm text-zinc-500 dark:text-zinc-400"><span class="font-semibold">Haz clic para subir</span> o arrastra y suelta el archivo</p>
                                        <p class="text-xs text-zinc-500 dark:text-zinc-400">SVG, PNG o JPG (MAX. 800x400 px)</p>
                                    </div>
                                    <input id="dropzone-file" type="file" class="hidden" name="product_image"/>
                                </label>
                            </div> 
                        </div>
                        <div class="w-full">
                            <label for="product_description" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white after:content-['*'] after:ml-1 after:text-red-500">Descripcion</label>
                            <textarea id="product_description" name="product_description" rows="4" placeholder="Escribe una descripción"
                            class="block p-2.5 w-full text-sm text-zinc-900 bg-zinc-50 rounded-lg border border-zinc-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-zinc-600 dark:border-zinc-500 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
                        </div>
                        <button type="submit" class="w-full py-2 px-3 rounded-lg bg-indigo-500 font-semibold relative duration-300 hover:bg-indigo-600 group">
                            <span class="absolute left-5 top-1/2 -translate-y-1/2 group-hover:text-indigo-300 text-indigo-400 text-lg">
                                <i class="fas fa-arrow-up-from-bracket"></i>
                            </span>
                            Crear producto
                        </button>
                    </form>
                </div>
            </div>

        </div>

        <!-- Modales -->
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Agregar clase al header
            window.onscroll = () => {
                if (window.scrollY > 50) {
                    document.querySelector('#navbar').classList.add('bg-black', 'bg-opacity-15', 'backdrop-blur-sm');
                } else {
                    document.querySelector('#navbar').classList.remove('bg-black', 'bg-opacity-15', 'backdrop-blur-sm');
                }
            }

            const searchInput = document.getElementById('table-search');
            searchInput.addEventListener('input', (e) => {
                const searchTerm = e.target.value.toLowerCase();
                fetchProducts(1, searchTerm);
            });

            const checkboxAllSearch = document.getElementById('checkbox-all-search');
            if (checkboxAllSearch) {
                checkboxAllSearch.addEventListener('change', (e) => {
                    document.querySelectorAll('.checkbox-table').forEach((checkbox) => {
                        checkbox.checked = e.target.checked;
                    });
                });
            }

            document.getElementById('delete-selected').addEventListener('click', () => {
                const checkboxes = document.querySelectorAll('.checkbox-table');
                const selectedProducts = [];
                checkboxes.forEach((checkbox) => {
                    if (checkbox.checked) {
                        selectedProducts.push(checkbox.id.replace('checkbox-table-search-', ''));
                    }
                });

                let result = true;
                
                selectedProducts.forEach(product => {

                    fetch(`/api/products/${product}`, {
                        method: 'DELETE'
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            fetchProducts();
                        } else {
                            alert(data.message);
                            result = false; 
                        }
                    });
                });

                if (result) {
                    alert('Productos eliminados exitosamente');
                    fetchProducts();
                }
            })

        });

        function toggleMenu() {
            document.getElementById('navbar-responsive').classList.toggle('hidden');
            document.getElementById('toggle-icon').classList.toggle('fa-bars');
            document.getElementById('toggle-icon').classList.toggle('fa-x');
        }

        fetchProducts();

        function fetchProducts(page = 1, search = "") {
            fetch(`/api/products?limit=5&page=${page}&search=${search}`)
            .then(response => response.json())
            .then(data => {
                renderProducts(data.products);
                renderPagination(data.page, data.limit, data.totalCount, data.totalPages, data.products.length);
            });
        }

        function renderProducts(products) {
            const productList = document.getElementById('product-list');
            const modalsContainer = document.getElementById('modals-container');
            productList.innerHTML = '';

            products.forEach(product => {
                const productItem = document.createElement('tr');
                productItem.className = 'border-b bg-zinc-800 border-zinc-700 hover:bg-zinc-600 text-start text-zinc-400';
                productItem.innerHTML = `
                    <td class="w-4 p-4">
                        <div class="flex items-center">
                            <input id="checkbox-table-search-${product.product_id}" type="checkbox" 
                            class="checkbox-table size-4 rounded bg-zinc-700 border-zinc-600">
                            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                        </div>
                    </td>
                    <td class="px-6 py-4 flex items-center gap-4 text-sm font-medium text-start text-white min-w-[300px]">
                        <div class="size-10 flex-none">
                            <img class="object-contain w-full h-full" src="${product.product_image_url}" alt="Imagen producto ${product.product_name}">
                        </div>
                        ${product.product_name}
                    </td>
                    <td class="px-6 py-4">${product.product_date.split("T")[0]}</td>
                    <td class="px-6 py-4">COP ${Number(product.product_price).toLocaleString("es-CO")}</td>
                    <td class="px-6 py-4">${product.product_discount == 0 ? 'Sin descuento' : product.product_discount + "%"}</td>
                    <td class="px-6 py-4">
                        <button class="w-full px-7 py-1 border border-[#7270ec] rounded-full mx-auto" type="submit" onclick="product_modal_${product.product_id}.showModal()">
                            Editar
                        </button>
                    </td>
                `;

                const productModal = document.createElement('dialog');
                productModal.id = `product_modal_${product.product_id}`;
                productModal.className = 'modal';
                productModal.setAttribute('tabindex', '-1');
                productModal.setAttribute('aria-hidden', 'true');
                productModal.setAttribute('data-theme', 'dracula');
                productModal.innerHTML = `
                    <div class="modal-box w-full max-w-[700px] bg-[#242430]">
                        <form method="dialog">
                            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="text-lg font-bold">Editar Producto</h3>
                        <form class="p-4 flex flex-col gap-3" onsubmit="editProduct(${product.product_id}, event)" enctype="multipart/form-data">
                                <div class="w-full">
                                    <label for="product_name_${product.product_id}" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white after:content-['*'] after:ml-1 after:text-red-500">Nombre</label>
                                    <input type="text" name="product_name" id="product_name_${product.product_id}" placeholder="Escribe el nombre del producto" value="${product.product_name}" required
                                    class="input input-bordered w-full">
                                </div>
                                <div class="w-full">
                                    <label for="product_price_${product.product_id}" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white after:content-['*'] after:ml-1 after:text-red-500">Precio</label>
                                    <input type="number" name="product_price" id="product_price_${product.product_id}" placeholder="60.000" required value="${product.product_price}"
                                    class="input input-bordered w-full">
                                </div>
                                <div class="w-full">
                                    <label for="product_discount_${product.product_id}" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white after:content-['*'] after:ml-1 after:text-red-500">Descuento <span class="text-[12px] opacity-60">(mínimo 0, máximo 100)</span></label>
                                    <input type="number" name="product_discount" id="product_discount_${product.product_id}" placeholder="Escribe el descuento" required value="${product.product_discount}" min="0" max="100"
                                    class="input input-bordered w-full">
                                </div>
                                <div class="w-full">
                                    <label for="dropzone-file" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white">Imagen</label>
                                    <div class="flex items-center justify-center w-full">
                                        <label for="dropzone-file_${product.product_id}" class="border-2 border-dashed border-zinc-600 w-full rounded-lg cursor-pointer">
                                            <div class="flex flex-col items-center justify-center py-5">
                                                <svg class="size-10 mb-4 text-zinc-500 dark:text-zinc-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                                </svg>
                                                <p class="mb-2 text-sm text-zinc-500 dark:text-zinc-400"><span class="font-semibold">Haz clic para subir</span> o arrastra y suelta el archivo</p>
                                                <p class="text-xs text-zinc-500 dark:text-zinc-400">SVG, PNG o JPG (MAX. 800x400 px)</p>
                                            </div>
                                            <input id="dropzone-file_${product.product_id}" type="file" class="hidden" name="product_image"/>
                                        </label>
                                    </div> 
                                </div>
                                <div class="w-full">
                                    <label for="product_description_${product.product_id}" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white after:content-['*'] after:ml-1 after:text-red-500">Descripcion</label>
                                    <textarea id="product_description_${product.product_id}" name="product_description" rows="4" placeholder="Escribe una descripción"
                                    class="textarea textarea-bordered w-full resize-none">${product.product_description}</textarea>
                                </div>
                                <button type="submit" class="w-full py-2 px-3 rounded-lg bg-indigo-500 font-semibold relative duration-300 hover:bg-indigo-600 group">
                                    <span class="absolute left-5 top-1/2 -translate-y-1/2 group-hover:text-indigo-300 text-indigo-400 text-lg">
                                        <i class="fas fa-arrow-up-from-bracket"></i>
                                    </span>
                                    Editar producto
                                </button>
                            </form>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                    </form>
                `;

                modalsContainer.appendChild(productModal);
                productList.appendChild(productItem);

                document.querySelectorAll('.checkbox-table').forEach((checkbox) => {
                    checkbox.addEventListener('change', () => {
                        document.getElementById('checkbox-all-search') . checked = document.querySelectorAll('.checkbox-table:checked').length == document.querySelectorAll('.checkbox-table').length;
                    });
                });
            });
        }

        function renderPagination(currentPage, limit, totalCount, totalPages, pageCount) {
            const paginationControls = document.getElementById('pagination-controls');
            paginationControls.innerHTML = '';
            document.getElementById('pagination-text').innerHTML = '<span class="mr-auto">Mostrando ' + ((currentPage * limit) - limit + 1) + '-' + ((currentPage * limit) - limit + pageCount)  + ' de ' + totalCount + ' resultados </span> ';

            if (totalPages < 1) return;

            const createButton = (page, text, isCurrent) => {
                const button = document.createElement('button');
                button.innerText = text;
                button.className = `px-3 py-1.5 border rounded bg-zinc-700 ${isCurrent ? 'border-indigo-600 text-indigo-500 bg-zinc-700/50 font-bold cursor-not-allowed' : 'text-zinc-400 hover:bg-zinc-600'}`;
                button.disabled = isCurrent;
                button.addEventListener('click', () => fetchProducts(page));
                return button;
            };

            for (let i = 1; i <= totalPages; i++) {
                const button = createButton(i, i, i == currentPage);
                paginationControls.appendChild(button);
            }
        }
        
        function toggleModal(id = 'create-product-modal') {
            document.getElementById(id).classList.toggle('hidden');
        }

        function editProduct(product_id, event) {
            event.preventDefault();

            const data = new FormData( event.target );

            fetch(`/api/products/${product_id}`, {
                method: 'PUT',
                body: data
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                if (data.success) {
                    window.location.reload();
                }
            });
        }

        function createProduct(event) {
            event.preventDefault();

            const data = new FormData( event.target );

            fetch('/api/products', {
                method: 'POST',
                body: data
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                if (data.success) {
                    window.location.reload();
                }
            });
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

</body>
</html>